<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Text from Memes</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pygment_trac.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>Text from Meme</h1>
            <p>Get the top and bottom text from fresh memes</p>
            <p class="view"><a href="https://github.com/PiJoules/Text-from-Memes">View the Project on GitHub <small>PiJoules/Text-from-Memes</small></a></p>
            <ul>
                <li><a href="https://github.com/PiJoules/Text-from-Memes/zipball/master">Download <strong>ZIP File</strong></a></li>
                <li><a href="https://github.com/PiJoules/Text-from-Memes/tarball/master">Download <strong>TAR Ball</strong></a></li>
                <li><a href="http://github.com/PiJoules/Text-from-Memes">Fork On <strong>GitHub</strong></a></li>
            </ul>
        </header>
        <section>
            <!-- Sample text -->
            <h1>Just copy the URL of an image into the text box below</h1>
            <p>
                <form class="extract" action="/extract" method="GET">
                    <input name="url" type="url" placeholder="Meme url"/>
                    <button type="submit">Extract</button>
                </form>
            </p>
            <p>
                <img class="meme" src="" alt="Meme image will appear here" />
            </p>

            <h3>And the text will appear here</h3>
            <div class="highlight">
                <pre class="text">Sample Text</pre>
            </div>
            <!-- /Sample text -->
        </section>
        <footer>
            <p>This project is maintained by <a href="https://github.com/PiJoules">Leonard Chan</a></p>
            <p><small><a href="https://github.com/orderedlist/minimal">Minimal</a> theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='scripts/scale.fix.js') }}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>

</html>